@model WebImmobilier.Models.Maison
@using WebImmobilier.Models
@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ResourceImmo.Détails</h2>

<div class="maison-details">
    <div class="row">
        <div class="col-md-6">
            <img src="~/assets/images/image-maison.jpg" alt="Image de la maison" class="img-fluid" />
        </div>
        <div class="col-md-6 shadow-lg p-4">
            <h4>@ResourceBien.Info</h4>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong> @ResourceBien.Proprietaire :</strong> @Html.DisplayFor(model => model.Proprietaire.NomUser)</li>
                <li class="list-group-item"><strong>@ResourceBien.Description :</strong> @Html.DisplayFor(model => model.DescriptionBien)</li>
                <li class="list-group-item"><strong>@ResourceBien.Superficie :</strong> @Html.DisplayFor(model => model.SuperficieBien) m²</li>
                <li class="list-group-item"><strong>@ResourceBien.Localite :</strong> @Html.DisplayFor(model => model.Localite)</li>
                <li class="list-group-item"><strong>@ResourceBien.NbrSalleBain :</strong> @Html.DisplayFor(model => model.NbreSalleEau)</li>
                <li class="list-group-item"><strong>@ResourceBien.NbrCuisine:</strong> @Html.DisplayFor(model => model.NbreCuisine)</li>
                <li class="list-group-item"><strong>@ResourceBien.NbrToilette :</strong> @Html.DisplayFor(model => model.NbreToilette)</li>
                <li class="list-group-item"><strong>@ResourceBien.NbrChambre :</strong> @Html.DisplayFor(model => model.NbreChambre)</li>
            </ul>
            <div class="col-md-12 d-inline-block p-4">
                <div class="form-group m-2">
                    @Html.ActionLink(ResourceImmo.Modifier, "Edit", new { id = Model.IdBien }, new { @class = "btn btn-primary" })

                    @Html.ActionLink(ResourceImmo.Index, "Index", null, new { @class = "btn btn-outline-danger" })

                    <div class="form-group m-2">
                        @using (Html.BeginForm("ImprimerD", "MaisonViewModels", FormMethod.Post, new { target = "_blank" }))
                        {
                            @Html.Hidden("id", Model.IdBien)
                            <button type="submit" class="btn btn-success">Imprimer le rapport</button>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    
        
           
       
    
</div>
